* {
    padding:10px;
    box-sizing:border-box;
}
body {
    font-family: arial, sans-serif;
    height: 100%;
    width: 100%;
    place-items:center;
    display: grid;
}

/*First_name_last_name*/
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
    margin-bottom: 3px;
}

input[type="text"] {
    width: 100%;
}

/*password and confirm password*/
.form-group1 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
}  

input[type="password"] {
    width: 100%;
}

.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

input[type="tel"] {
    width: 100%;
}
input[type="email"] {
    width: 100%;
}


.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1 {

    text-align:center;
    margin-bottom: 20px;
}


button[type="submit"] {
    background-color:rgb(70, 186, 240);
    color: white;
    border:none;
    border-radius: 5px;
    width: 40%;    
    font-size: medium;   
        
}

button[type="button"] {
    background-color:rgb(125, 195, 120);
    color: white;
    border:none;
    border-radius: 5px;
    width: 40%;
    font-size: medium;
}

button[type="register"] {
    background-color: rgb(70, 186, 240);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;

}
.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.checkbox-group {
    display: block;
    float: left;
    text-align: justify;
    margin-bottom: 10px;
}


@media(max-width:600px){
    .form-group {
        flex-direction:column;
        row-gap: 20px;
    }
    .form-group1{
        flex-direction:column;
        row-gap: 20px;
    }
    .terms{
        display: inline;
        float: left;
    }
    .button-group {
        flex-direction: column;
        row-gap: 20px;
    }
}